name: Gradle Dependency Graph
on:
  schedule:
    - cron: '0 */6 * * *'
  push:
    branches: main

permissions:
  contents: read

jobs:
  gradle-action-detection:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/gradle-build-action@982da8e78c05368c70dac0351bb82647a9e9a5d2 # v2.11.1
        with:
          dependency-graph: generate-and-submit
          arguments: dependencies
